@charset "utf-8";

/* info_pj 공통 CSS - common.css */

/* 웹폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap&family=Noto+Sans+KR:wght@100..900&family=Black+And+White+Picture&family=Orbit&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



/* 기사본문용 font-family: "Noto Sans KR", sans-serif; 
제목용 font-family: "Orbit", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Black And White Picture", system-ui;
font-family: "Gugi", sans-serif;*/

/* CSS코딩구역 */
/*
  선택자{
        속성:값;
  } 
  -> 선택자는 요소명/클래스명/아이디명 등으로 사용

  [ css 박스모델 ]
  - 모든 html요소는 사각형으로 되어 있고 가로, 세로, 패딩, 마진, 보더의 속성으로 구성됨
  width/height/padding/margin/border
  -> 기본박스 디자인은 가로, 세로 크기를 줄 경우 패딩과 보더는 박스 크기에 포함되지 않는다
  ->>> 이런 박스를 컨텐트 박스라고 함
  */

/* 공통디자인 : 클래스를 주로 사용함 */
.part {
  /* 박스모델 5가지 셋팅 */
  /* 가로크기-기본값auto 
블록의 기본값은 부모박스 채우기
인라인의 기본값은 내용물만큼
안주면 기본값 auto로 설정됨*/
  max-width: 1000px;
  /* 최대크기 1000px을 유지하다가 화면 또는 부모박스가 크기보다 작아지면 자동으로 auto로 전환되어 가로 스크롤바가 안생기고 크기가 화면에 적응된다 */
  /* 세로크기-기본값 auto 
모든 요소에서 기본값은 내용물만큼*/
  /* height: auto; */
  /* height: 300px; */
  border-radius: 10px;
  border: 4px double rgb(42, 42, 206);
  /* 패딩 
padding: 수치;(4방향 모두)
padding: 수치 수치;(위아래)
padding: 수치 수치 수치;(위 양쪽 아래)
padding: 수치 수치 수치 수치;(위 오른 아래 왼)
*/
  /* 마진 
margin: 수치;(4방향 모두)
margin: 수치 수치;(위아래)
margin: 수치 수치 수치;(위 양쪽 아래)
margin: 수치 수치 수치 수치;(위 오른 아래 왼)
margin:0 auto;
*/

  padding: 50px;
  /* 박스가 패딩, 보더를 포함하는 설정 */
  box-sizing: border-box;
  /* content-box가 기본값임 box-sizing:content-box; */

  /* 마진 */
  margin: 20px auto 0;
}
/* 메인 이미지 크기 변경하기 */
main#main-area img {

 
}



/* 상단영역, 하단영역 공통 - 콤마,는 그룹선택자 */

header.part,
footer.part {
  text-align: center;
}

/* 상단영역 */
#top-area {
  background-color: #98d5f8;
}

.tit {
  font-family: "Orbit", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  text-shadow: 2px 2px 2px #f1f1f1;
  margin: 0;
}

/* 메뉴링크 */
.menu a {
  color: #222;
  text-decoration: none;
  font-family: "Orbit", sans-serif;
}

/* 메뉴링크 마우스오버시 */
.menu a:hover {
  text-decoration: overline;
  text-decoration-style: dotted;
  color: rgb(42, 42, 206);
}

/* 하단영역 */
#info-area {
  background-color: #f4f4f4;
}

/* 주소요소 */
#info-area address {
  /* 글자체 */
  font-family: "Noto Sans KR", sans-serif;
  /* 이탤릭체 해제 */
  font-style: normal;
  font-size: 14px;
}

/* 
  [선택자들]
  1. 타입선택자 : 태그명
  2. 아이디/클래스 선택자 : 요소이름
  3. 종속선택자 : 요소명+이름(h1#my)
  4. 자손선택자 : 띄어쓰기
  5. 직계자식 선택자 : 꺽쇠(>) 
  6. 그룹선택자 : 콤마(,)
  7. 형제 선택자 : 플러스(+)
    예) a+a ->앞에 a요소가 있는 a요소 선택

*/
