@charset "utf-8";
/* 맨위에 utf-8 인코딩 설정 필수 
외부 css파일은 파일자체적으로 처리되므로
인코딩 형식도 따로 지정해야 함*/

/* info_pj 서브페이지용 CSS - sub.css */

/* 공통 외부CSS 불러오기 */

@import url(./common.css);
/* @import방식으로 외부파일을 불러와서 합치면 html 파일에서 link방식으로 불러올 필요가 없다 
http request웹요청이 줄어들어 html의 랜더링 속도가 향상되는 이점
*/

/* 서브페이지 글자체 */
#main-area{
font-family: "Noto Sans KR", sans-serif;}



/* 서브페이지 타이틀 */
 h2.sub-title{
/* 글자색 : color(c) */
/* color:#fff; */

/* 글자크기:font-size(fz) */
font-size: 38px;

/* 글자두께:font-weight(fw) ; */
font-weight:bold;

/* 글자체:font-family; 
-콤마로 구분된 글자체는 대체체임*
앞의 글자체가 없으면 뒤의 글자체가 적용됨. 만약 모두 없으면 브라우저 기본체가 적용*/

font-family:'궁서', '굴림', '돋움';

/* 텍스트 정렬: text-align */
text-align: center;

/* 텍스트 그림자: text-shadow */
text-shadow: 2px 2px 2px rgba(0,0,0,0.35);

/* 박스테두리: border:두께 종류 색상 
solid 실선, dotted 점선, dashed데쉬선*/
border:2px dotted skyblue;


/* 둥근모서리: border-radius */
border-radius: 20px;

/* 패딩 */
padding:20px;

/* 배경색: bgc */
background-color: #f1f1f1;



/* 배경반복여부 bgr */

/* 배경고정 */

/* 배경위치 */
background-position: center;

/* 배경크기 bgz*/
background-size:cover;

/* 외부 css에서 이미지 경로 주의 
html파일이 아닌 css파일 위치에서 상대경로를 잡아야 이미지가 나옴*/

 }
 /* 배경이미지: bgi */
 /* 글자색 */

.politic{background-image: url(../images/titbg1.jpg); color:red;}
.economic{background-image: url(../images/titbg2.jpg);color:orange;}
.social{background-image: url(../images/titbg3.jpg); color:yellow;}
.science{background-image: url(../images/titbg4.jpg); color:blue;}
.entertain{background-image: url(../images/titbg5.jpg); color:#fff;}

/* 언론사로고 */
.press-logo img{height:32px;}
/* 이미지는 가로/세로 중 하나만 주면 비율을 유지하여 변경된다 */

/* 기사타이틀 */
.article-title{
  text-align: center;     
  font-size: 24px;
  color: #111;
}

/* 기사 이미지 박스 */
.article-picture{
  margin: 40px 0;
}
/* 기사메인사진 */
.article-picture img{
  width:100%;
padding-bottom: 15px;}

/* 기사이미지 설명 */
.article-picture figcaption{
  text-align: center;
  padding: 0 5px;
  
}
}


/* 기사 이미지 설명 글자크기 변경 */
.article-picture figcaption small{
  font-size:15px;
  /* small에 글자크기가 지정되어 있으므로 여기에서 글자크기를 변경해야 반영된다 */
}

  /* 기사내용 */
 .contents p{
  /* 글자크기 */
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.7;
  /* line-height 줄간격은 글자의 위아래 간격.
  단위 없을 경우 글자크기의 배수로 셋팅됨 */
  /* 글자색 */
  color: #333;
 }


 /* 인라인 인용구 */
.contents q{
  font-weight: bold;
}

/* mark요소 디자인 변경 */
.contents mark{
  display: block;
    /* 인라인요소는 사이즈가 안먹히기 때문에 display:inline-block으로 바꿔줌 */
  width: 65%;
  /* 크기를 가진 블록요소 중앙정렬 */
  margin: 15px auto;
  /* 글자중앙정렬 */
  text-align: center;
  padding: 20px 50px;
  border-top: 2px solid grey;
  border-bottom:2px solid grey;
  background-color: #f1f1f1;
  color:rgb(52, 20, 168);
  font-family: "Roboto", sans-serif;

 


}