@charset "utf-8";
/* 맨위에 utf-8 인코딩 설정 필수 
외부 css파일은 파일자체적으로 처리되므로
인코딩 형식도 따로 지정해야 함*/

/* info_pj 서브페이지용 CSS - sub.css */

/* 공통 외부CSS 불러오기 */

@import url(./common.css);
/* @import방식으로 외부파일을 불러와서 합치면 html 파일에서 link방식으로 불러올 필요가 없다 
http request웹요청이 줄어들어 html의 랜더링 속도가 향상되는 이점
*/

/* 서브페이지 글자체 */
#main-area{
font-family: "Noto Sans KR", sans-serif;}



/* 서브페이지 타이틀 */
 h2.sub-title{
/* 글자색 : color(c) */
/* color:#fff; */

/* 글자크기:font-size(fz) */
font-size: 38px;

/* 글자두께:font-weight(fw) ; */
font-weight:bold;

/* 글자체:font-family; 
-콤마로 구분된 글자체는 대체체임*
앞의 글자체가 없으면 뒤의 글자체가 적용됨. 만약 모두 없으면 브라우저 기본체가 적용*/

font-family:'궁서', '굴림', '돋움';

/* 텍스트 정렬: text-align */
text-align: center;

/* 텍스트 그림자: text-shadow */
text-shadow: 2px 2px 2px rgba(0,0,0,0.35);

/* 박스테두리: border:두께 종류 색상 
solid 실선, dotted 점선, dashed데쉬선*/
border:2px dotted skyblue;


/* 둥근모서리: border-radius */
border-radius: 20px;

/* 패딩 */
padding:20px;

/* 배경색: bgc */
background-color: #f1f1f1;



/* 배경반복여부 bgr */

/* 배경고정 */

/* 배경위치 */
background-position: center;

/* 배경크기 bgz*/
background-size:cover;

/* 외부 css에서 이미지 경로 주의 
html파일이 아닌 css파일 위치에서 상대경로를 잡아야 이미지가 나옴*/

 }
 /* 배경이미지: bgi */
 /* 글자색 */

.politic{background-image: url(../images/titbg1.jpg); color:red;}
.economic{background-image: url(../images/titbg2.jpg);color:orange;}
.social{background-image: url(../images/titbg3.jpg); color:yellow;}
.science{background-image: url(../images/titbg4.jpg); color:blue;}
.entertain{background-image: url(../images/titbg5.jpg); color:#fff;}

/* 언론사로고 */
.press-logo img{height:32px;}
/* 이미지는 가로/세로 중 하나만 주면 비율을 유지하여 변경된다 */

/* 기사타이틀 */
.article-title{
  text-align: center;     
  font-size: 24px;
  color: #111;
}

/* 기사 이미지 박스 */
.article-picture{
  margin: 40px 0;
}
/* 기사메인사진 */
.article-picture img{
  width:100%;
padding-bottom: 15px;}

/* 기사이미지 설명 */
.article-picture figcaption{
  text-align: center;
  padding: 0 5px;
  
}
}


/* 기사 이미지 설명 글자크기 변경 */
.article-picture figcaption small{
  font-size:15px;
  /* small에 글자크기가 지정되어 있으므로 여기에서 글자크기를 변경해야 반영된다 */
}

  /* 기사내용 */
 .contents p{
  /* 글자크기 */
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.7;
  /* line-height 줄간격은 글자의 위아래 간격.
  단위 없을 경우 글자크기의 배수로 셋팅됨 */
  /* 글자색 */
  color: #333;
 }


 /* 인라인 인용구 */
.contents q{
  font-weight: bold;
}

/* mark요소 디자인 변경 */
.contents mark{
  display: block;
    /* 인라인요소는 사이즈가 안먹히기 때문에 display:inline-block으로 바꿔줌 */
  width: 65%;
  /* 크기를 가진 블록요소 중앙정렬 */
  margin: 40px auto;
  /* 글자중앙정렬 */
  text-align: center;
  padding: 20px 50px;
  border-top: 2px solid grey;
  border-bottom:2px solid grey;
  background-color: #f1f1f1;
  color:rgb(52, 20, 168);
  font-family: "Roboto", sans-serif;

 


}


/* 인용구박스 */
.bd-box{
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  margin:20px 0;
  

}

/* 인용구 제목 */
.bd-box h4{
  font-size: 20px;
  border-radius: 40px;
  /* 박스그림자 *
  box-shadow: x축 y축 blur spread 색
  ->spread는 그림자 기존크기보다 더한 크기*/
  box-shadow: 2px 2px 4px 4px #c8c8c8;
  text-align: center;
  width: 250px;
  padding: 20px;
  background-color: #f1f1f1;

}

.quote-box blockquote{
  /* 기본마진없애기 */
  margin:0;
  font-size: 15px;
  /* 자식요소인 이미지에 float를 사용할 경우 부모박스에서 자식요소를 인식하지 못하는 경우가 발생함
  이를 해결하기 위한 한가지 방법으로 overflow:hidden 사용하여 넘치는 요소 숨기기 */
  overflow:hidden;
  margin-bottom: 20px;
  line-height: 2.2;
  text-align: justify;
  /* 넘치는 자식요소 숨기는 설정때문에 그림자가 잘리므로 이를 패딩으로 처리함 */
  padding: 5px 5px 5px 0;
  
  
}

.quote-box img{
  /* 기본적으로 이미지는 인라인요소.
  글자가 왼쪽으로 한줄 하단에 나열됨
  글자가 옆에 올라와서 흘러가게 하려면 float속성 써야한다
  float:left 이미지는 왼쪽에 글자는 오른쪽
  float:right 이미지는 오른쪽에 글자는 왼쪽 */
  float:right;
  /* 이미지 옆에 공간주기 */
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px grey;
}


/* 동영상 박스: 유튜브 iframe*/
.mvbox{
  /* 비율유지박스 설정 
  aspect-ratio:가로비/세로비 
  */
  aspect-ratio:16/9;

  /* height: 550px; */
   /* ->주의: 가로, 세로가 유동적이므로 특정값을 셋팅하지 말 것 */
  /* div같은 block요소는 width설정을 하지 않으면 width:auto로 자동설정됨 */

}

/* 아이프레임 */
.mvbox iframe{
  border: none;  /*bdn*/
  width: 100%;
  height: 100%;
}


/* 기사원문 버튼 */
.article-link{
 text-align: right;

}

/* 기사원문 a요소 */
.article-link a{
  /* 부모박스 인라인 정렬도 적용되고 크기 디자인도 적용되는 display는? */
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* 정원 */
  /* 글자중앙 */
  text-align: center;
  /* 세로중앙(높이값이랑 똑같이 줌 */
  line-height: 100px;
  font-size: 20px;
  /* a요소 기본 글자색, 밑줄 제거 */
  color: #222;
  text-decoration: none;
  background-color: #f1f1f1;
  box-shadow:  2px 4px 4px #c8c8c8;
}


/* 기사원문 a요소 마우스 오버시 */
.article-link a:hover{
  background-color: skyblue;
  box-shadow:  0 0 10px 5px #c8c8c8;
  /* box-shadow: x y blur (spread) color; */
  

}

/* 오늘의 작품 & 느낌 */

.work{
  text-align: center;
  /* 그라데이션 
  [ 선형 그라데이션 : linear-gradient ] 
  linear-gradient(방향, 색1, 색2,...);
  linear-gradient(방향, 색1, 몇%, 색2, 몇%...);
  linear-gradient(각도, 색1, 몇%, 색2, 몇%...);
  - 옵션:
  1. 방향: to top, to bottom, to left, to right
  2. 각도: 각도deg
  3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정 가능
  */

  /* background-image:linear-gradient(-45deg, red 5%, blue 20%, yellow 80%); */

  background-image:linear-gradient(46deg, #f8abff 30%, #d3f8c4, #dfe497);
  
 
  /* padding */
  padding: 20px;
  /* 부모박스에 패딩이 없는 상태에서 첫번째 자식 블록박스의 마진은 부모 바깥쪽으로 나가서 셋팅된다.
  이유는 마진은 바깥쪽으로 셋팅하는 개념이고 부모가 이를 셋팅하지 않았다면 첫번째 블록박스에서 마진을 셋팅할 수 있도록 기본 설계가 되어있음.
  -> 패딩을 주는 순간 자식의 마진은 패딩의 내부공간을 밀게된다. */
  border:13px dotted blue;

  background-clip: border-box;
  /* [ 배경 관련 표시 영역지정 background-clip ] 
  값: border-box 보더 영역까지 표시(기본값)
  값: padding-box 패딩 영역까지 표시
  값: content-box 내용 영역까지 표시
  */
  
  /* 배경 관련 시작 영역지정 */
  
  background-origin: padding-box;
  /* [ 배경 관련 시작 영역지정 background-origin ] 
  값: border-box 보더 영역부터 시작(기본값)
  값: padding-box 패딩 영역부터 시작
  값: content-box 내용 영역부터 시작
  */
  

  /* 배경 반복 제거 */
  background-repeat: no-repeat;

  /* 박스 내부 그림자 */
  box-shadow: inset 0 0 10px #333;
 
  
}


/* 작품타이틀 */
.work h4{
  font-family: "Black And White Picture", system-ui;
  font-weight: normal;
  font-size: 28px;
  color: #333;
  margin: 0;
  /* 부모에 패딩없는 상태에서 첫번째 자식 마진은 부모 바깥으로 나감!
  참고) 마지막 자식블록요소도 부모 박스 하단 마진은 바깥으로 나감 */

}

/* 작품 이미지 */
.work img{
border: 10px ridge goldenrod;
  
}


.work cite{
  font-family: "Gugi", sans-serif;
  color:blue;
  font-size: 20px;
  font-style: normal;
}
  


