@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap");

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/* 초기화 셋팅 */
html,
body,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* html루트 설정 */
html{
  font-size:10px;
}

/* 전체 배경이미지 */
body {
  padding-top: 100vh;
  background: url("../images/bg.jpg") no-repeat fixed top/cover;
}

/* 공사중 표시 */
body * {
  outline: 2px dashed yellow;
}

/*********************** 공통클래스 ***********************/
/* 메탈배경 클래스 */
.metal1 {
  background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2 {
  background: url(../images/metal02.jpg) no-repeat center/cover;
}
/********************** 1. 상단영역 **********************/
h1.logo{
  position: fixed;
  top:calc(50% - 10vw);
  left:calc(50% - 10vw);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  z-index:999;
  background: pink url(../images/robot_03.png) no-repeat center/auto 100%;
  box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.9);
  text-align: center;
  line-height:20vw;
  font-size:5vw;
  font-family: 'Orbitron', sans-serif;
  color:lightgreen;
  text-shadow: 0 0 10px #000;
}

/********************** 2. 메인영역 **********************/
/* 2-1.로봇박스 */
.robot-box {
    margin-bottom: 500px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(124%, -10%) scale(0.3);
    
    
}

/* 2-1-1.로봇머리 */
.head {
  /* .eye의 부모 */
  position: relative;
  width: 230px;
  height: 240px;
  margin: 0 auto;
  border-radius: 20px 20px 100px 100px;
}

/* 가상요소로 가발만들기 */
.head::after{
    content: '';
    /* 부모는 .head */
    position: absolute;
    left:50%; top:-105px;
    transform: translate(-50%,0);
    width: 387px;
    height: 400px;
    background:url("../images/hair_new2.png") no-repeat 0/100% 100%;
}
/* 눈공통 */
.eye {
  position: absolute;
  /* 부모는?->.head */
  /* 크기공통 */
  width: 50px;
  height: 50px;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  top: 50px;
  /* 둥근눈 */
  border-radius: 50%;
  border: 4px double #000;
}

/* 왼눈 */
.eye1 {
  background-image: url(../images/e1.jpg);
  left: 40px;
}
/* 오른눈 */
.eye2 {
  background-image: url(../images/e2.jpg);
  right: 40px;
}

/* 코 */
.nose {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  background: url(../images/nose.jpg) no-repeat 0/100% 100%;
}

/* 입 */
.mouth {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  width: 130px;
  height: 50px;
  background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear {
  position: absolute;
  top: 70px;
  width: 30px;
  height: 70px;
}

.ear1 {
  left: -30px;
  border-radius: 0 20px;
}

.ear2 {
  right: -30px;
  border-radius: 20px 0;
}

/* 2-1-1.몸통 */
.body {
  /* 부모자격 */
  position: relative;
  width: 220px;
  height:284px;
  /* 가운데정렬 */
  margin: 0 auto;
  margin-top: 50px;
  /* 배경이미지 조정 */
  /* background-repeat: repeat; */
  background-size: 70%;
  

}

/* 몸통 가상요소로 티셔츠만들기 */
.body::before{
    content: '';
    position: absolute;
    /* 부모는 .body  */
    top: 0; left: 0;
    width: 100%; height: 216px;
    background-image: linear-gradient(to bottom, skyblue, blue);
    border-radius: 10px 10px 40% 40%;
    
    

}

/* 몸통 가상요소로 치마만들기 */
.body::after{
    content: '';
    position: absolute;
    /* 부모는 .body  */
    bottom: -58px; left: 0;
    width: 100%; height: 100px;
    background:pink;
    border-radius: 10px;
    

}
/* 목 */
.neck {
  position: absolute;
  top: -47px;
  /* 
    [ 가로/세로 중앙보내기 계산법 ]
    left: calc(50% - 크기/2)
    left: calc(50% - 크기/2)
    -> 크기는 left일 경우 width이고
    top일 경우 height 값이다.

    또는 transform: trnalate(-50%,0);
    */
  left: calc(50% - 50px / 2);
  width: 50px;
  height: 50px;
  border-radius: 0 0 20px 20px;
  z-index: 0;
}

/* 팔공통*/
.arm {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 150px;
}

/* 팔하단공통 */
.arm span {
  position: absolute;
  /* 부모는 .arm */
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}

/* 팔하단 가상요소 손 공통 */
.arm span::after{
    content: '';
    display: block;
    /* 부모는 .arm span */
    position: absolute;
   
    top:100%;
    width: 100px;
    height: 140px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    z-index:3;
    
}

/* 왼손 */
.arm1 span::after{
    background-image: url("../images/hand_left.png") ;
    left: -21px;
}

/* 오른손 */
.arm2 span::after{
    background-image: url("../images/hand_right.png") ;
    left:-38px;
}
/* 왼팔 */
.arm1 {
  left: -60px;
  
}
/* 오른팔 */
.arm2 {
  right: -60px;
  
}

/* 왼팔 관절 */
.arm::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: -6px;
    top:calc(100% - 20px);
    z-index:1;
    border-radius: 100%;
    border: 3px solid #000;
    /* 보더때문에 크기가 커지므로 패딩, 보더 포함박스 설정 */
    box-sizing: border-box;
    background-color: grey;
   
}
/* 오른팔 관절 */
.arm::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top:calc(100% - 11px);
    left:50%;
    transform: translate(-50%,0);
    /* 그라데이션 배경 */
    background-image: linear-gradient(to right,#ccc,#393939);
    z-index: 2;
    border-radius: 100%;
    /* 박스내부그림자 inset */
    box-shadow: inset 0 0 5px #222;
}


/* 다리공통*/
.leg {
  position: absolute;
  top: 100%;
  width: 70px;
  height: 220px;
}
.leg span {
  position: absolute;
  /* 부모는 .arm */
  top: 100%;
  left: 10%;
  width: 80%;
  height: 80%;
}

/* 다리관절 공통 */
.leg::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border:3px solid #000;
    background-color: grey;
    top:calc(100% - 48px);
    left:50%;
    transform: translate(-50%,0);
    border-radius: 20px;



}

.leg::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    /* 그라데이션 배경 */
    background-image: linear-gradient(to right,#ccc,#393939);
    top:calc(100% - 40px);
    left:50%;
    transform: translate(-50%,0);
    border-radius: 20px;
    z-index: 2;
}



/* 왼다리 */
.leg1 {
  left: 0;
 
}
/* 오른다리 */
.leg2 {
  right: 0;
}


/* 발공통 */
.leg span::after{
    content: '';
    position: absolute;
    left:50%; top:70%;
    transform: translate(-50%,0);
    width: 60px;
    height: 110px;
    background-image:linear-gradient(to right,#ccc,#393939);
    border-top:3px solid #000;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

/* 부츠 */
.leg span::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 40px;
    bottom:-74px;
    left:50%;
    transform: translate(-50%,0);
    background-color: grey;
    border:1px solid #000;
    border-bottom: 5px solid #000;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 50% 50% 0 0;


}




/* 오른발 */

/* 어깨공통 */
.shdr{
    position: absolute;
    top: 0;
    width: 75px;
    height: 72px;
    
    


}
/* 왼어꺠 */
.shdr1{
    left:-75px;
    border-radius: 30px 0 0 30px;
}
/* 오른어꺠 */
.shdr2{
    right:-75px;
    border-radius: 0 30px 30px 0;
}

/* TV */
.tv{
    position: absolute;
    top: 40px;
    left:calc(50% - 167px/2);
    width: 167px;
    height: 127px;
    background: url("../images/tv.jpg")no-repeat 0/100% 100%;
}

/* 스크린 */
.screen{
    /* 부모는 .tv */
    position: absolute;
    border-radius: 10px;
    width: 118px;
    height: 92px;
    left: 9px;
    top: 13px;
    /* 자식유튜브 아이프레임 넘치는 부분 숨기기 */
    overflow: hidden;
    
}

/* 유튜브 아이프레임 */
.screen iframe{
    /* 부모는 .screen */
    position: absolute;
    top:0;
    left: 0;
    width: 118px;
    height: 92px;
    border:none;
    
}

/* 2-2.로봇설명박스 */
.text-box{
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  padding: 15px 30px;
  background-color: #0000006f;
  border-radius: 20px;
  /* 박스 내부그림자 */
  box-shadow: 
  inset 0 0 20px blue,
  inset 0 0 50px 10px cyan;
  /* 
  [백드롭 필터효과] 
  - filter속성과 동일한 셋팅을 가지며
  적용대상이 겹쳐지는 하단의 그래픽을 변경한다!

  backdrop-filter: blur(2px); -> 흐림
  backdrop-filter: brightness(60%); -> 밝기
  backdrop-filter: contrast(40%); -> 대비
  backdrop-filter: drop-shadow(4px 4px 10px blue);->그림자
  backdrop-filter: grayscale(30%);-> 흑백
  backdrop-filter: hue-rotate(120deg); -> 색상변경
  backdrop-filter: invert(70%); -> 반전색
  backdrop-filter: opacity(20%); -> 투명도
  backdrop-filter: sepia(90%); -> 세피아효과
  backdrop-filter: saturate(80%); -> 채도

  -> 복합적용 가능!
  backdrop-filter: blur(4px) saturate(150%);
  */
  backdrop-filter: blur(6px);
}

/* 2-2-1.제목 */
.text-box h2{
  position: sticky;
  top: 10px;
  /* 글자크기 35px -> em단위 */
  font-size: 3.5rem;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  background-color: #ffffff86;
  color: lime;
  text-shadow: 2px 2px 2px #0000006f;
  border-radius: 20px;
  /* 얇은글자 */
  font-weight: normal;
}

/* 2-2-2.출처 */
.text-box small{
  /* 인라인은 디자인상 블록으로 전환! */
  display: block;
  text-align: center;
  /* 글자크기 12px */
  font-size: 1.2rem;
  font-family: 'Chakra Petch', sans-serif;
  color: yellow;
  text-shadow: 1px 1px 1px #0000006f;
  padding: 10px;
}
/* 2-2-3.내용단락 */
.text-box p {  
  font-family: 'Barlow';
  font-size: 1.7rem;
  /* 줄간격 */
  line-height: 1.7;
  /* 자간 */
  letter-spacing: 1px;
  /* 단어간격 */
  word-spacing: 2px;

  /* 
    [ 다단설정하기 ]
    - 다중열속성
    -> column-count : 다중열개수
    -> column-rule : 다중열구분선
    -> column-gap : 다중열사이간격
  */
  /* 다단수 셋팅 */
  column-count: 3;
  /* 사이구분선은 border와 유사 */
  column-rule: 5px dotted lightgreen;
  /* column-rule: 두께 종류 색; */
  /* 사이간격 */
  column-gap: 55px;

  /* 양쪽정렬 */
  text-align: justify;
  /* 영문자는 단어를 깨줘야함! */
  word-break: break-all;

  /* 첫줄 들여쓰기 :  text-indent (ti) */
  text-indent: 40px;
}

/* 가상요소 첫글자 변경하기 */
.text-box p::first-letter {  
  font-size: 2.8rem;
  color: hotpink;
  font-weight: bold;
}

/********************** 3. 하단영역 **********************/
