@charset "UTF-8";

body{
	font-family:"나눔고딕";
	width: 100%;
}
	

#wrap{
	width: 960px;
	margin: 0 auto;
	/*border:1px solid blue;*/
}


/*헤더*/

header{
	width: 100%;
	height: 150px;
	background: #fff;
	/*background: red;*/
	

	
}

header h2{float:left;}

header h2 img{
	width: 200px;
	height: 75px;
	transform: translate(0,50%);
	margin-left: 20px;

}


header>.gnb{
	float:right;
	margin: 70px 20px 0 0;
	

}

header>.gnb>li{
	float:left;
	margin-right: 30px;
	position: relative;
	
}


header>.gnb>li:last-child{
	margin-right:0;
}

header>.gnb>li>a{
	border:1px solid #4298cc;
	padding: 10px 25px;
	color:#999;
	font-weight: bold;
	

	
} 


/*2단메뉴*/

/*header .gnb>li:hover .depth2{
		display: block;
	}*/

header>.gnb >li:hover>a{
	background:#4298cc;
	color:#fff;

}


header>.gnb >li>.depth2{
	position: absolute;
	left:0; top:34px;
	width: 100%;
	text-align: center;
	display: none;
	z-index: 100;

	
}


header>.gnb >li>.depth2>li>a{
	display: block;
	color:#000;
	padding: 10px 0;
	background:rgba(255,255,255,0.8);
	border-bottom: 1px solid #4298cc;


}

header>.gnb >li>.depth2>li:last-child>a{
border:none;
}

header>.gnb >li>.depth2>li>a:hover{
	color:#fff;
	background:#4298cc;


}



/*슬라이드*/

main{
	width: 100%;
	height: 400px;
	position: relative;


}

main .slider{
	position: absolute;
	left:0; top:0;
	height: 400px;
	width: 100%;
	overflow: hidden;
	position: relative;


}

main .slider img{
	width: 100vh;
}

main .slider ul{
	height: 400px;
	width: 2880px;
	/*border:1px solid red;*/

	


}

main .slider ul li img{
	height: 400px;
	width: 960px;
}

main .slider ul li{
	float:left;
}

main  .slider .txt{
	position: absolute;
	left:50%; top:50%;
	width: 500px; height: 50px;
	transform: translate(-50%,-50%);
	background:#893700;
	border-radius: 20px;
}

main  .slider .txt h2{
	line-height: 50px;
	text-align: center;
	color:#fff;
	
}




/*섹션*/



section{
	width: 100%;
	height: 500px;
	
	
}

section .contents{
	padding: 20px 10px;
	overflow: hidden;
	


}

section .contents h2{
	color:#fff;
	text-align: center;
	margin-bottom: 20px;
	background: #4298cc;
	border-radius:10px;
	
}


section .notice{
	width: 50%;
	float: left;
	

}

section .notice table{
	width: 100%;
}


section .notice table tr th{
	color:#893700;
	padding-bottom: 10px;
	
}

section .notice table tr td{
	padding-bottom: 10px;
}


section .notice table tr td a{
	font-size: 15px;
	color:#999;
	

}

section .notice table tr td a:hover{
	background: #4298cc; 
	color:#fff;
}

section .notice table tr .t1{
	border:none;
	color:#999;

	
}



section .info{
	width: 45%;
	float:right;
}


section .info h2{
	margin-bottom: 40px;
}

section .info img{
	width: 100%;
	

}



section .icon{
	text-align: center;


}

section .icon li{
	display: inline-block;
	margin-right: 100px;
}

section .icon li:last-child{
	margin-right: 0;
}

section .icon li img{
	width: 150px;
	height: 150px;
}


section .icon p{
	color:#999;
	margin-top: 10px;

}

section .icon li:hover p{
	background:#4298cc; 
	border-radius:20px;
	color:#fff;
}



/*footer*/

footer{
	width: 100%;
	height: 150px;
	background: #893700;


}


footer .nav{
	text-align: center;
	padding-top: 40px;

}

footer .nav li{
	display: inline-block;
	margin-right: 10px;
}

footer .nav li:last-child{
	margin-right: 0;
}

footer .nav li a{
	color:#fff;
	font-size: 14px;
}

footer .nav li a:hover{
	color:#999;
}

footer address{
	font-style:normal;
	padding:10px 40px;
	color:#fff;
	text-align: center;
	font-size: 13px;
	line-height:20px;

}







