@charset "UTF-8";


body{
	font-family: "나눔고딕";
	color:#666;
	
}


#wrap{
	width: 960px;
	height: 1200px;
	margin:0 auto;
}


header{
	width: 100%;
	height: 200px;
	/*background: red;*/


}


header h1{
	float:left;
	margin-top: 56.5px;


}

header .gnb{
	float:right;
	margin-top:100px;
	/*border:1px solid #666;*/
	padding-bottom: 10px;
	padding-right: 30px;
	

}

header .gnb>li{
	float:left;
	margin-left: 40px;
	position: relative;
}
header .gnb>li>a{
	color:#666;
	font-size: 20px;
	font-weight: bold;

}

header .gnb>li:hover>a{
	color:#009688;
}

header h1 img{
	width: 200px;
}

header .gnb>li .depth2{
	position: absolute;
	left:-5px; top:25px;
	display: none;
	background: #fff;
	z-index: 10;
	border:1px solid #666;

	
}

header .gnb>li .depth2 li{
	
	/*border:1px solid #ccc;*/
	
	

}

header .gnb>li .depth2 li a{
	display: block;
	font-size: 14px;
	color:#6a6a6a;
	width: 100px;
	/*border:1px solid red;*/
	padding:10px 0;
	text-align: left;
	margin-left: -30px;



} 

header .gnb>li .depth2 li a:hover{
	color:#009688;
	font-weight: bold;
}

header .gnb>li:hover .depth2{
	display: block;

}

/*main*/


main .slider{
	width: 100%;
	height: 350px;
	background: yellow;
	position: relative;

}

main .slider img{
	width: 960px;
	height: 350px;

}


main .slider p{
	position: absolute;
	left:50%; top:50%;
	color:#666;
	background: rgba(255,255,255,0.5);
	transform: translate(-50%,-70%);
	font-size:40px;
	padding:20px;

}


/*section*/

section{
	width: 100%;
	height: 500px;
	/*background: yellow;*/

}


section .left{
	float:left;
	width: 470px;
	/*border:1px solid red;*/
	margin-top: 20px;
}

/*section .left h2{
	font-size: 20px;
	color:#009688;
	margin-bottom: 10px;
	text-align: center;

}

section .left ul{
	border-top:2px solid #6a6a6a;
	

}

section .left ul li{
	line-height: 35px;
	border-bottom: 1px solid #6a6a6a;

}

section .left ul li span{
	float:right;
	
}

section .left ul a{
	font-size: 15px;
	color:#6a6a6a;

}

section .left ul a:hover{
	text-decoration: underline;
}*/

section .left table{
	border-top:2px solid #6a6a6a;
	border-spacing: 0;


}

section .left table caption{
	font-size: 20px;
	color:#009688;
	font-weight: bold;
	margin-bottom: 10px;
}

section .left table td{
	border-bottom: 1px solid #6a6a6a;
	padding:10px 0;
	color:#666;
	font-size: 14px;
	
}

section .left table .td1{
	padding-left: 10px;
}

section .left table .td1 a{
	text-decoration: none;
	color:#666;
	
}

section .left table .td1 a:hover{
	text-decoration: underline;
}



/*파트너 광고영역*/

section .partner{
	float:right;
	width: 470px;
	

}

section .partner h2{
	font-size: 20px;
	color:#009688;
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

section .partner  ul{
	float: right;
	margin-top: 20px;
}

section .partner  ul li a{
	display: block;
	font-size:17px;
	margin-bottom: 10px;
	color:#000;

}

section .partner img{
	cursor: pointer;
}



section .partner .img1{
	width: 200px;
	margin-bottom: 50px;
	/*cursor: pointer;*/

}

	/*<!-- 아이콘콘텐츠 -->*/

section .icon{
	clear:both;
	padding-top: 50px;
	
}

section .icon img{
	width: 100px;
}

section .icon ul{

	text-align: center;
}

section .icon ul li{
	display: inline-block;
	margin:0 30px;
}




/*footer*/


footer{
	width: 100%;
	height: 150px;
	/*background: #fff;*/
	border-top:1px solid #009688;
}


footer .f_top{
	height: 50px;
	/*border:1px solid red;*/
	



}

footer .f_top ul{
	text-align: center;
}

footer .f_top ul li{
	display: inline-block;
	/*float:left;하면 가운데 정렬 안먹음*/
	padding:0 10px;
	position: relative;
}

footer .f_top ul li::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 12px;
	right: 0; top:6px;
	background: #666;
}

footer .f_top ul li:last-child::before{
	display: none;
}

footer .f_top ul li a{
	color:#666;
	font-size: 13px;

}

footer .f_top ul li a:hover{
	font-weight: bold;

}

/*f_bottom*/

footer .f_bottom{
	height: 100px;
/*	border:1px solid red;*/

}

footer .f_bottom address{
	font-size: 12px;
	color:#666;
	text-align: center;
	font-style: normal;
	margin-top: 10px;
	line-height: 20px;



}