@font-face {
    font-family: 'Oduda';
    src: url('../font/Oduda-Bold.woff2') format('woff2'),
        url('../font/Oduda-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

