@charset "utf-8";
/* 레이아웃 유형1 CSS */

/* 초기화 */
html,body,h1,h2,ul,ol{
  margin: 0;
  padding: 0;

}

/* 공사중 */
body * {
  outline:1px solid red;
}
/* 공통클래스 중앙속박스 */
.part{
  max-width: 1200px;
  margin: 0 auto;
}

/* <!-- 1.상단영역 --> */
.top-area{
  height: 100px;
  background-color: red;
}

/* <!-- 2.배너영역 --> */
.ban-area{
  height:300px;
  background-color: orange;

}
/* <!-- 3.컨텐츠영역 --> */
.cont-area{
  height: 200px;
  background-color: yellow;

}

/* <!-- 4.하단영역 --> */
.footer-area{
  height: 100px;
  background-color: green;

}