@charset "utf-8";



*{margin: 0; padding: 0;}



body{
	width: 100%;
}

.wrap{
	width: 100%;
	
	

}

.wrap .header{
	width: 100%;
	height: 100px;
	background: blue;
	float: none;

	
	
}

.wrap .lr{
	float: none;
}


.wrap .left{
	width: 100%;
	height: 600px;
	background: red;
	

}


.wrap .right{
	width: 100%;
	height: 600px;
	background: green;
	

}