@charset "utf-8";



*{margin: 0; padding: 0;}

body{
	width: 100%;
}

.wrap{
	width: 800px;
	margin:0 auto;
	
	

}

.wrap .header{
	width: 200px;
	height: 600px;
	background: blue;
	float:left;
	
	
}

.wrap .lr{
	float: left;
}


.wrap .left{
	width: 600px;
	height: 300px;
	background: red;
	

}


.wrap .right{
	width: 600px;
	height: 300px;
	background: green;
	

}