@charset "utf-8";



*{margin: 0; padding: 0;}



body{
	width: 100%;
}

.wrap{
	width: 100%;
	margin:0 auto;

	

}

.wrap .header{
	width: 100%;
	height: 200px;
	background: blue;
	float: none;

	
	
}

.wrap .lr{
	float: none;
}


.wrap .left{
	width: 100%;
	height: 400px;
	background: red;
	

}


.wrap .right{
	width: 100%;
	height: 400px;
	background: green;
	

}