@charset "utf-8";

*{margin: 0; padding: 0;}


body{
	padding:0 40px;
}

.wrap .left{
	position: static;
	width: 100%;
	height: 100px;

}

.wrap .right{
	position: static;
	width: 100%;
	height: 100px;


}